node_modules
dist
.DS_Store
server/public
vite.config.ts.*
*.tar.gz

# Sensitive credentials
attached_assets/*.json
attached_assets/firebase*.jsattached_assets/saman_berepo_1769450727824.zip
attached_assets/saman_berepo_1769450727824.zip
